#!/usr/sbin/nft -f


flush ruleset


# private_ips
define db_vm = { 192.168.100.3 }

# known_lan
define admin_vm = { 192.168.100.2 }
define web_vm = { 192.168.100.4 }


table ip global {
    chain inbound {
        type filter hook input priority 0; policy drop;

        ct state vmap { established : accept, related : accept, invalid : drop }

        ip saddr $admin_vm ip daddr $db_vm counter tcp dport { 22 } accept comment "allow SSH from admin-vm"
        ip saddr $web_vm ip daddr $db_vm tcp dport { 5432 } counter accept comment "allow DB connection from web-vm"

        {% if enable_logging %}
        log prefix "DROP INPUT - " flags all level warn
        counter drop comment "DROP ALL"
        {% endif %}
    }
}
