#!/usr/sbin/nft -f


flush ruleset


# private_ips
define web_vm = { 192.168.100.4 }

# known_lan
define admin_vm = { 192.168.100.2 }
define db_vm = { 192.168.100.3 }


table ip global {
    chain inbound {
        type filter hook input priority 0; policy drop;

        ct state vmap { established : accept, related : accept, invalid : drop }

        ip protocol icmp ip saddr $admin_vm ip daddr $web_vm accept comment "allow ICMP from admin-vm"
        ip saddr $admin_vm ip daddr $web_vm counter tcp dport { 22, 80 } accept comment "allow SSH / HTTP from admin-vm"
        ip saddr $db_vm ip daddr $web_vm tcp sport { 5432 } counter accept comment "allow DB connection to db-vm"

        {% if enable_logging %}
        log prefix "DROP INPUT - " flags all level warn
        counter drop comment "DROP ALL"
        {% endif %}
    }
}
